/*.Cards{*/
    /*background: #fff;*/
    /*padding: 2rem;*/
    /*margin: 10px;*/
    /*border-radius: 5px;*/
    /*box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);*/
    /*text-align: left;*/
    /*overflow: hidden;*/
    /*border:grey solid 2px;*/
    /**/
/*}*/

.cardsRows{
    display: inline-flex;
    background-color: #fff;
    border: grey solid 2px;
    width: 33%;
    padding: 2rem;
    margin: 10px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
}

.cardsCols{
    display: grid;
}

.priceInput{
    border: none;
    background-color: white;

}

.priceLabel{

}

