/*.Cards{*/
    /*background: #fff;*/
    /*padding: 2rem;*/
    /*margin: 10px;*/
    /*border-radius: 5px;*/
    /*box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);*/
    /*text-align: left;*/
    /*overflow: hidden;*/
    /*border:grey solid 2px;*/
    /**/
/*}*/

.cardsRows{
    display: inline-flex;
    background-color: #fff;
    border: grey solid 2px;
    width: 23%;
    padding: 2rem;
    margin: 10px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    /*float: left;*/
}


.cardsCols{
    display: grid;
    position: center;
    cursor: pointer;
}

.cardsRows:hover{
    background-color: white;
    border:#718c00 solid 3px;
}

.priceInput{
    border: none;
    background-color: white;

}

.priceLabel{

}

.image{
   margin-bottom: 9px;
}

